<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="department">
      <h2 data-cy="departmentDetailsHeading"><span>Department</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ department.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ department.name }}</span>
        </dd>
        <dt><span>Hospital</span></dt>
        <dd>
          <div *ngIf="department.hospital">
            <a [routerLink]="['/hospital', department.hospital.id, 'view']">{{ department.hospital.id }}</a>
          </div>
        </dd>
        <dt><span>Doctors</span></dt>
        <dd>
          <span *ngFor="let doctors of department.doctors; let last = last">
            <a [routerLink]="['/doctor', doctors.id, 'view']">{{ doctors.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/department', department.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
