<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="queueForDoctor">
      <h2 data-cy="queueForDoctorDetailsHeading"><span>Queue For Doctor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ queueForDoctor.id }}</span>
        </dd>
        <dt><span>Number</span></dt>
        <dd>
          <span>{{ queueForDoctor.number }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ queueForDoctor.user?.login }}</span>
        </dd>
        <dt><span>Doctor</span></dt>
        <dd>
          <div *ngIf="queueForDoctor.doctor">
            <a [routerLink]="['/doctor', queueForDoctor.doctor.id, 'view']">{{ queueForDoctor.doctor.firstname }}</a>
          </div>
        </dd>
        <dt><span>Department</span></dt>
        <dd>
          <div *ngIf="queueForDoctor.department">
            <a [routerLink]="['/department', queueForDoctor.department.id, 'view']">{{ queueForDoctor.department.name }}</a>
          </div>
        </dd>
        <dt><span>Hospital</span></dt>
        <dd>
          <div *ngIf="queueForDoctor.hospital">
            <a [routerLink]="['/hospital', queueForDoctor.hospital.id, 'view']">{{ queueForDoctor.hospital.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/queue-for-doctor', queueForDoctor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
